*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pollCard{
    height: 300px;
    width: 44%;
    min-width: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.3);
    /* float: left; */
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
}
.pollCard:hover{
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.3);
}
.pollCard_1{
    /* border: 2px solid blue; */
    height: 20%;
    width: 100%;
    color:black;
    background-color: #f3f7f7;
    /* background-color: blue; */
    font-size: larger;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 60px;
}
.pollCard_2{
    /* border: 2px solid blue; */
    height: 65%;
    width: 100%;
}

.pollCard_3{
    /* border: 2px solid blue; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.votesSection{
    height: 100%;
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c7c7c7;

}
.viewButton{
    height: 80%;
    width: 35%;
    background-color: white;
    border: none;
    color: orange;
    /* color: white; */
    font-size: 17px;
    margin-right: 20px;
}
.viewButton:hover{
    cursor: pointer;
}